// https://mattboldt.com/demos/typed-js/css/_terminal.scss

/* text editor styles */

#typed-wrap {
  max-width: 40ch;
	// display: block;
	// margin: auto;
	// max-width: 530px;
	// border-radius: 10px;
	// box-shadow: rgba(0,0,0,0.8) 0px 20px 70px;
  box-shadow: 0 1rem 30rem rgba(255, 255, 255, 0.75);
	// clear: both;
	// overflow: hidden;
  // -webkit-transition: all 0.5s ease-out;
  // -moz-transition: all 0.5s ease-out;
  // -ms-transition: all 0.5s ease-out;
  // -o-transition: all 0.5s ease-out;
  // transition: all 0.5s ease-out;
}

#typed-title {
  // padding: 5px 0;
  // font-family: "Lucida Grande", sans-serif;
  // font-size: 0.75em;
  // text-align: center;
  // color: #000000;
  // text-shadow: rgba(255,255,255,0.8) 0px 1px 0px;
  // background-color: #f8f8f8;
  color: $black;
  // background-color: #e8e8e8;
  // background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  // background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  // background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  background-color: $gray-300;
  background-image: -webkit-linear-gradient(top, $gray-100, $gray-500);
  background-image: -moz-linear-gradient(top, $gray-100, $gray-500);
  background-image: linear-gradient(top, $gray-100, $gray-500);
  position: relative;

  .buttons {
    position: absolute;
    top: 55%;
    transform: translatey(-50%);
    left: 0.5em;

    .button {
      width: 1em;
      height: 1em;
      display: inline-block;
      border-style: solid;

      &.red {
        background-color: $red;
        border-color: $red;
      }

      &.yellow {
        background-color: $yellow;
        border-color: $yellow;
      }

      &.green {
        background-color: $green;
        border-color: $green;
      }
    }
  }
}

#typed-body {
  min-height: 6em;
  color: $white;
  // background-color: rgba(0,0,0,0.85);
  background-color: $gray-900;
  // padding: 10px;
  // color: #f0f0f0;
  // text-shadow: #000 0px 1px 0px;
  // font-family: "Consolas", "Courier New", "Courier";
  // font-size: 1.75em;
  // font-weight: 500;
  // text-align: left;
  // overflow: hidden;
  // -webkit-transition: all 0.5s ease-out;
  // -moz-transition: all 0.5s ease-out;
  // -ms-transition: all 0.5s ease-out;
  // -o-transition: all 0.5s ease-out;
  // transition: all 0.5s ease-out;
}

#typed {
  white-space: pre;
}
